.gif{
    border:  1px solid #eee;
    border-radius: 6px;
    color: #fff;
    display:flex;
    flex-direction: column;
    margin:16px;
    padding: 32px;
    width: 100%;
}
.gif h4{
    margin: 0;
}
.gif img {
    object-fit: contain;
}